<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amalia.dev.dicodingmade">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- vibrate Permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="amalia.dev.dicodingmade.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="amalia.dev.dicodingmade.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name=".repository.realm.RealmApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_small"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.MainActivity"/>
        <activity android:name=".view.search.SearchResultsActivity" />
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amalia.dev.dicodingmade.view.MainActivity" />
        </activity>

        <receiver android:name=".widget.tvshowFav_widget.TvshowFavWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tvshow_fav_widget_info" />
        </receiver>
        <receiver android:name=".widget.movieFav_widget.MovieFavWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/img_favorites_widget_info" />
        </receiver>
<!--        Alarm Manager(reminder)-->
<!--        TODO:for broadcastreceiver still work when app destryed, it need registered in global not in activity,
 but..kenapa itu hanya perlu dg deklarasikan tanpa intnet-filter. dan hanya bisa di emulator api 28, -->
        <receiver
            android:name=".reminder.ReminderReceiver">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>-->
<!--            </intent-filter>-->
        </receiver>

        <service android:name=".reminder.ReminderService"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".widget.movieFav_widget.MovieFavWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.tvshowFav_widget.TvshowFavWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".provider.FavProvider"
            android:authorities="amalia.dev.dicodingmade"
            android:exported="true"
            android:readPermission="amalia.dev.dicodingmade.READ_DATABASE"
            android:writePermission="amalia.dev.dicodingmade.WRITE_DATABASE" />

        <activity android:name=".view.tvshow.TvShowDetailActivity" />
        <activity
            android:name=".view.movie.MovieDetailActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.SplashScreenActivity" android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searhable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>